/*styles for assignment 3*/

html{
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-image: url(http://l.yimg.com/dh/ap/fantasy/test/ff_bg_03.jpg);
}

h3{
  color: blue;
}
