/*styles for assignment 3*/

html{
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-image: url(http://wallpapercave.com/wp/775Lf3u.jpg);
}

h3{
  color: blue;
}
